<form method="post" action="#" onsubmit="ExpressCheckout.ChooseShippingProvider(); return false;">
	<p><span class="Required">*</span>%%LNG_ExpressCheckoutSelectShippingProvider%%</p>
	%%GLOBAL_ShippingQuotes%%
	<hr>
	<div class="shipping-addons">
	    <h3>Delivery Signature (secure your delivery)</h3>
	    <div class="del-sig">
	        <a href="javascript:void(0);" onclick="addDelSigToCart();" class="btn Small" title="Add Delivery Signature">Add Delivery Signature</a>
	        <span class="del-sig-text">Add the extra security of a required signature upon delivery for just $5.</span>
	    </div>
		<hr>
	    <h3>Shipping Insurance (insure your purchase)</h3>
	    <div class="ins-cost">
	        <a href="javascript:void(0);" onclick="addInsToCart();" class="btn Small" title="Add To Cart">Add Shipping Insurance</a>
	        <span class="ins-cost-text">Insure your full purchase order amount for only $<span class="ins-total"></span>.</span>
	    </div>
	</div>
	<hr>
	<input type="submit" value="%%LNG_Continue%%" class="btn Small" />
	%%GLOBAL_DeliveryDisclaimer%%
</form>

<script type="text/javascript">
//<![CDATA[
	//Add shipper text
	function shipperText() {
		var shippingItem1 = $('.ShippingProviderList').find("span.ShipperName:contains('Free Shipping')");
			shippingItem2 = $('.ShippingProviderList').find("span.ShipperName:contains('Ground Home Delivery')");
			shippingItem3 = $('.ShippingProviderList').find("span.ShipperName:contains('Priority Mail')");
			shippingItem4 = $('.ShippingProviderList').find("span.ShipperName:contains('FedEx 2 Day')");
			shippingItem5 = $('.ShippingProviderList').find("span.ShipperName:contains('Express Mail')");
			shippingItem6 = $('.ShippingProviderList').find("span.ShipperName:contains('Standard Overnight')");
			bestValue = '<em style="color:#39b54a; "> - Best Value!</em>';

		shippingItem1.text('Free Shipping \(3-6 business days\)');
		shippingItem1.parent().append(bestValue);
		shippingItem2.text('FedEx Ground \(3-6 business days\)');
		shippingItem3.text('USPS Priority Mail \(1-3 business days\)');
		shippingItem3.parent().append(bestValue);
		shippingItem4.text('FedEx 2-Day \(1-2 business days\)');
		shippingItem5.text('USPS Priority Express \(1-2 business days\)');
		shippingItem6.text('FedEx Overnight \(1 business day\)');
	}
	//Add Shipping Addon buttons
	function addDelSigToCart() {
		$.post('/cart.php?action=add&product_id=690&ajaxsubmit=1');
	}
	function shippingAddons() {
		var insTotal = $('.ins-total');
		var insID;
		$('.shipping-addons').append('<div class="mtotal" style="display: none;"></div>');
		$('.mtotal').load('//store-mixi7d.mybigcommerce.com/cart.php .gtotal .ProductPrice');
		setTimeout(function(){ 
			var insuranceCost = parseFloat($('.mtotal .ProductPrice').text().replace('$','')) * 0.01;
			insTotal.html(insuranceCost);
			console.log('insurance cost is ' + insuranceCost)
		},1000);  
		function addInsToCart() {
			$.post('/cart.php?action=add&product_id=' + insID);
		}
	}
	//Hide "Free Shipping" from wholesale accounts
	function wholesaleHide() {
		var $wholesaleSpecials = $('.CategoryList ul li:contains("Wholesale Specials")');
		if ($wholesaleSpecials.length) {
			if ($('.main.CheckoutExpress')) {
				$('.ShipperName:contains("Free Shipping")').parents('li').remove();
			};
		};
	}
	$(document).ready(function(){
		shipperText();
		shippingAddons();
		//wholesaleHide();
	});
//]]>
</script>
​